*{
    background-color: rgb(0, 0, 0);
    color: #99c5ff;
    text-align: center;
}
h1{
    visibility: hidden;
    font-size: 0px;
}
footer{
    font-family: "consolas", monospace;
    font-size: 15px;
}
#gameDiv{
    position: relative;
    top: 0px;
}
#gameCanvas{
    visibility: hidden;
    text-align: center;
    border: 5px solid;
    background-color: transparent;
    z-index: 2;
    position: absolute;
    top: 0px;
}
#image{
    position: relative;
    z-index: 1;
    border: 5px solid;
}
#video{
    height: 0px;
    visibility: hidden;
    overflow: hidden;
}